parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 5
    paths:
        - ajax
        - front
        - inc
        - public
        - hook.php
        - setup.php
    scanDirectories:
        - ../../src/Glpi/Exception
        - ../../inc
        - ../../src
    ignoreErrors:
        - '#^Invalid type Glpi\\Exception\\Http\\[A-z-\-:]* to throw*#'
    bootstrapFiles:
        - ../../stubs/glpi_constants.php
        - ../../vendor/autoload.php
rules:
    - GlpiProject\Tools\PHPStan\Rules\GlobalVarTypeRule
